.person-item {
    width:20%;
    height:100%;
    border:3px solid black;
    display:none;
}

.person-item:hover {
    background-color:#DDD;
}

.person-item.selected {
    display:block !important;
}
