 body {
            font-family: Consolas;
            color: #0094FF;
        }

        p:first-letter {
            font-family: Edwardian Script ITC;
            font-size: 3em;
        }

        p:first-line {
            font-weight: bold;
        }