<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BattleNetShop.Data.MSSQL.MSSQLSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="BattleNetShop.Data.MSSQL.MSSQLConnectionString" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BattleNetShop.Data.MSSQL.MSSQLSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <BattleNetShop.Data.MSSQL.MSSQLSettings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.;Initial Catalog=BattleNetShop;Integrated Security=True</value>
      </setting>
    </BattleNetShop.Data.MSSQL.MSSQLSettings>
    <BattleNetShop.Data.MSSQL.MSSQLConnectionString>
      <setting name="Setting" serializeAs="String">
        <value>Data Source=.;Initial Catalog=BattleNetShop;Integrated Security=True</value>
      </setting>
    </BattleNetShop.Data.MSSQL.MSSQLConnectionString>
  </applicationSettings>
  <userSettings>
    <BattleNetShop.Data.MSSQL.MSSQLSettings>
      <setting name="ConnectionStringExpress" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;Initial Catalog=BattleNetShop;Integrated Security=True</value>
      </setting>
    </BattleNetShop.Data.MSSQL.MSSQLSettings>
  </userSettings>
</configuration>