extends ../shared/layout
block main-content
    h1= title
    table.table.table-striped.table-hover
        thead
            tr
                th Title
                th Description
        tbody
            each event in events
                tr
                    td
                        a(href="/event/#{event._id}")= event.title
                    td= event.description