<div ng-controller="AllRecipesController">
    <div class="jumbotron row">
        <div class="col-md-8">
            <h1>All recipes</h1>
            <h3>{{information}}</h3>
        </div>
        <div class="col-md-3 pull-right">
            <div class="row">
                <p class="col-md-6 lead">Sort by </p>
                <button class="btn col-md-6 btn-primary" ng-click="sortTypeClicked()">{{sortTypeText}}</button>
            </div>
            <div class="row">
                <select class="form-control col-md-12" ng-model="sortBy">
                <option value="Id" selected="selected">Default</option>
                <option value="Name">Name</option>
                <option value="Minutes">Time</option>
                <option value="Category">Category</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" ng-repeat="recipe in recipes | orderBy:sortBy:sortByReverse">
            <a href="#/single-recipe/{{ recipe.Id }}" class="btn-link  single-recipe-container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title lead">{{ recipe.Name }}</p>
                    </div>
                    <div class="panel-body image-container text-center" back-img="{{ recipe.Image }}"></div>
                    <div class="well well-sm">{{ recipe.Minutes }} minutes</div>
                </div>
            </a>
        </div>
    </div>
</div>