<div ng-controller="HomeController">
    <div class="jumbotron">
        <h1>{{welcome}}</h1>
        <div class="divider"></div>
        <div class="row">
            <p class="col-md-7 lead">*Home of <span class="label-primary">{{recipesCount}}</span> wonderful recipes</p>
            <a class="col-md-2 pull-left btn-primary btn-lg" href="#/all-categories">All categories</a>
            <a class="col-md-2 pull-right btn-primary btn-lg" href="#/all-recipes">All recipes</a>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-7 panel-danger">{{ joke }}</div>
            <a class="col-md-2 pull-left btn-primary  btn-success btn-lg" href="#/add-category">Add category</a>
            <a class="col-md-2 pull-right btn-primary btn-success btn-lg" href="#/add-recipe">Add recipe</a>
        </div>
    </div>
    <img class="col-md-8 col-lg-offset-2" height="400" src="" ng-src="{{imgSrc}}" alt="recipes"/>
</div>