<div ng-controller="SearchRecipesController" class="container">
    <div class="row jumbotron">
        <h1 class="col-md-8">Found recipes: {{information}}</h1>
    </div>
    <div class="row">
        <div class="col-md-3" ng-repeat="recipe in foundRecipes">
            <a href="#/single-recipe/{{ recipe.Id }}" class="btn-link  single-recipe-container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title lead">{{ recipe.Name }}</p>
                    </div>
                    <div class="panel-body image-container text-center" back-img="{{ recipe.Image }}"></div>
                    <div class="well well-sm">{{ recipe.Minutes }} minutes</div>
                </div>
            </a>
        </div>
    </div>
</div>