.navbar-right(ng-controller="LoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(type="text", placeholder="Username", ng-model="user.username")
            input.form-control(type="password", placeholder="Password", ng-model="user.password")
        button.btn.btn-primary(ng-click="login(user)") Login
        a.btn.btn-primary(href="#/signup") Sign Up
        a.btn.btn-primary(href="#/about") About

    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{ identity.currentUser.firstName }} {{ identity.currentUser.lastName }}
                span.caret
            ul.dropdown-menu
                li
                    a(href="#/profile") Profile
                li
                    a(href="#/settings") Settings
                li.divider
                li
                    a(href="#/about") About
                li.divider
                li
                    a(href="#" ng-click="logout()") Sign Out

