<div class="container">
    <div class="well">
        <form name="tripCreateForm" class="form-horizontal">
            <fieldset>
                <legend>Create New Trip</legend>
                <div class="form-group">
                    <label for="fromSelect" class="control-label col-md-2">From</label>
                    <div class="col-md-10">
                        <select id="fromSelect" class="form-control" ng-model="trip.from"
                                required="required" ng-options="city as city for city in cities"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="toSelect" class="control-label col-md-2">To</label>
                    <div class="col-md-10">
                        <select id="toSelect" class="form-control" ng-model="trip.to"
                                required="required" ng-options="city as city for city in cities"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="seatsTb" class="col-md-2 control-label">Available seats</label>
                    <div class="col-md-10">
                        <input id="seatsTb" type="number" placeholder="Select seets" ng-model="trip.availableSeats" min="1" required="required" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-md-2 control-label">Departure time</label>
                    <div class="col-md-10">
                        <input id="date" date-time-picker ng-model="trip.departureTime" required="required" />
                    </div>
                </div>

                <div class="pull-right">
                    <button ng-click="createTrip(trip)" ng-disabled="tripCreateForm.$invalid" class="btn btn-primary">Create</button>
                    <a href="#/home" class="btn btn-danger">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>