<div class="container text-center">
    <h1>{{trip.driverName}} - {{trip.departureDate | date : 'medium'}}</h1>
    <div class="row">
        <button class="btn btn-info pull-right" ng-click="joinTrip()">Join Trip</button>
    </div>
    <div class="row">
        <div class="col-md-4">From: <strong>{{trip.from}}</strong></div>
        <div class="col-md-4">To: <strong>{{trip.to}}</strong></div>
        <div class="col-md-4">Number of free seats: <strong>{{trip.numberOfFreeSeats}}</strong></div>
    </div>
    <br/>
    <div class="row">
        Passengers: {{passengersInTrip}}
    </div>
</div>