<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BattleNetShop.Data.Xml.XMLSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BattleNetShop.Data.Xml.XMLSettings>
            <setting name="InitialXmlFileLocation" serializeAs="String">
                <value>..\..\..\..\InitialData\VendorExpensesInitialData.xml</value>
            </setting>
            <setting name="ReportDestinationFolderLocation" serializeAs="String">
                <value>..\..\..\..\Reports\XmlReports\</value>
            </setting>
            <setting name="ReportDestionationFileName" serializeAs="String">
                <value>AllLocationsReport.xml</value>
            </setting>
        </BattleNetShop.Data.Xml.XMLSettings>
    </userSettings>
</configuration>