.container
    .well
        form.form-horizontal(name="attackUsernameForm")
            fieldset
                legend.text-primary.col-md-offset-1.col-md-10 Attack Username
                .form-group
                    label.col-md-2.control-label(for="targetUsername") Username
                    .col-md-6
                        input.form-control(id="targetUsername" type="text", placeholder="username", ng-model="targetUsername", required)
                    .col-md-3
                        .alert.alert-danger(ng-hide="!!targetUsername") Username is required
                .row
                    .col-md-8
                        button.pull-right.btn.btn-lg.btn-success(ng-click="confirmUsername()", ng-disabled="attackUsernameForm.$invalid") Find username
                    a.btn.btn-lg.btn-danger(href="#/overview") Back
    .well
        form.form-horizontal(name="attackCoordinatesForm")
            fieldset
                legend.text-primary.col-md-offset-1.col-md-10 Attack at coordinates
                .form-group
                    label.col-md-2.control-label(for="CoordinateX") Coordinate X
                    .col-md-6
                        input.form-control(id="CoordinateX" type="number", placeholder="X", ng-model="coords[0]", required)
                    .col-md-3
                        .alert.alert-danger(ng-hide="!!coords[0]") Coordinate X is required
                .form-group
                    label.col-md-2.control-label(for="CoordinateY") Coordinate Y
                    .col-md-6
                        input.form-control(id="CoordinateY" type="number", placeholder="Y", ng-model="coords[1]", required)
                    .col-md-3
                        .alert.alert-danger(ng-hide="!!coords[1]") Coordinate Y is required
                .form-group
                    label.col-md-2.control-label(for="CoordinateX") Coordinate Z
                    .col-md-6
                        input.form-control(id="CoordinateZ" type="number", placeholder="Z", ng-model="coords[2]", required)
                    .col-md-3
                        .alert.alert-danger(ng-hide="!!coords[2]") Coordinate Z is required
                p.lead.col-md-offset-1 {{ scanCost }}
                .row
                    .col-md-8
                        button.pull-right.btn.btn-lg.btn-success(ng-click="confirmCoords()", ng-disabled="attackCoordinatesForm.$invalid") Find coordinates
                    a.btn.btn-lg.btn-danger(href="#/overview") Back