body, div,section,article,img,button,p, header {
    margin:0;
    padding:0;
}

body #wrap {
    background-color:#EEEEEE;
    border-radius:10px;
    width:420px;
    height:600px;
    margin:10px;
    padding:20px 10px;
}

body #wrap header {
    margin-bottom:50px;
}

body #wrap section article {
    background-color:#FFFFFF;
    margin-bottom:50px;
    border:1px solid #999999;
    padding:20px;
    padding-right:0;
}

body #wrap section article image {
    display:inline-block;
    border:1px solid #999999;
}

body #wrap section article div {
    display:inline-block;
    vertical-align:top;
    width:220px;
    margin: 0 0 0px 10px;
}

body #wrap section article div .bold {
    font-weight:800;
}

body #wrap section article button.listen {
    background-image:url(imgs/listen.png);
    border:none;
    width:85px;
    height:25px;
    color:#FFFFFF;
    margin-left:-160px;
}

body #wrap section article button.add {
    background-image:url(imgs/add.png);
    border:none;
    width:70px;
    height:25px;
    color:#FFFFFF;
    margin-left:1px;
}