<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BattleNetShop.Data.MongoDb.MongoDBSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BattleNetShop.Data.MongoDb.MongoDBSettings>
            <setting name="MongoDBCloudConnection" serializeAs="String">
                <value>mongodb://admin:qwerty@ds053109.mongolab.com:53109/</value>
            </setting>
            <setting name="MongoDBName" serializeAs="String">
                <value>BattleNetShop</value>
            </setting>
            <setting name="MongoDBLocalConnection" serializeAs="String">
                <value>mongodb://localhost/battleNetShopDb</value>
            </setting>
            <setting name="MongoDBConnectionString" serializeAs="String">
                <value>mongodb://localhost/battleNetShopDb</value>
            </setting>
            <setting name="MongoDBAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MongoDBPort" serializeAs="String">
                <value>27017</value>
            </setting>
        </BattleNetShop.Data.MongoDb.MongoDBSettings>
    </applicationSettings>
</configuration>