doctype
html
    head
        title NovCraft MEAN
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/lib/toastr/toastr.css")
    link(rel="stylesheet" href="/css/site.css")
    link(rel="icon" type="image/png" href="https://cdn1.iconfinder.com/data/icons/Project_Icons___Version_1_1_9_by_bogo_d/PNG/Website.png")
    body.protoss-back(ng-app="app")

        block main-content

        include scripts
        include currentUser
