//script(type="text/javascript" src="/lib/jquery/dist/jquery.min.js")
//script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")
//script(type="text/javascript" src="/lib/toastr/toastr.min.js")
//script(type="text/javascript" src="/lib/angular/angular.js")
//script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
//script(type="text/javascript" src="/lib/angular-route/angular-route.js")
//
//script(type="text/javascript" src="/app/app.js")
//
//script(type="text/javascript" src="/app/directives/timer.js")
//script(type="text/javascript" src="/app/common/notifier.js")
//
//script(type="text/javascript" src="/app/gamemodels/buildingsModel.js")
//script(type="text/javascript" src="/app/gamemodels/raceModel.js")
//script(type="text/javascript" src="/app/gamemodels/shipsModel.js")
//script(type="text/javascript" src="/app/gamemodels/troopsModel.js")
//script(type="text/javascript" src="/app/gamemodels/upgradesModel.js")
//
//script(type="text/javascript" src="/app/account/loginCtrl.js")
//script(type="text/javascript" src="/app/account/signUpCtrl.js")
//script(type="text/javascript" src="/app/account/profileCtrl.js")
//script(type="text/javascript" src="/app/account/settingsCtrl.js")
//script(type="text/javascript" src="/app/account/identity.js")
//script(type="text/javascript" src="/app/account/auth.js")
//
//script(type="text/javascript" src="/app/utilities/calculator.js")
//
//script(type="text/javascript" src="/app/resources/usersResource.js")
//script(type="text/javascript" src="/app/resources/gameObjectsCache.js")
//script(type="text/javascript" src="/app/resources/gameRequests.js")
//
//script(type="text/javascript" src="/app/home/homeCtrl.js")
//script(type="text/javascript" src="/app/nav/navCtrl.js")
//script(type="text/javascript" src="/app/overview/overviewCtrl.js")
//script(type="text/javascript" src="/app/buildings/buildingsCtrl.js")
//script(type="text/javascript" src="/app/ships/shipsCtrl.js")
//script(type="text/javascript" src="/app/troops/troopsCtrl.js")
//script(type="text/javascript" src="/app/upgrades/upgradesCtrl.js")
//script(type="text/javascript" src="/app/map/mapCtrl.js")
//script(type="text/javascript" src="/app/scan/scanCtrl.js")
//script(type="text/javascript" src="/app/scan/scanOverviewCtrl.js")
//script(type="text/javascript" src="/app/attack/attackCtrl.js")
//script(type="text/javascript" src="/app/attack/attackUserCtrl.js")
//script(type="text/javascript" src="/app/attack/simulateAttackCtrl.js")
//script(type="text/javascript" src="/app/reports/reportsCtrl.js")
//script(type="text/javascript" src="/app/message/messageCtrl.js")
//script(type="text/javascript" src="/app/message/messageViewCtrl.js")
//script(type="text/javascript" src="/app/message/messageCreateCtrl.js")