body {
  padding-top: 80px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 60px;
}
.container .well .form-horizontal fieldset .pull-right button.btn.btn-primary {
  margin-right: 10px;
}
.form-group .alert.alert-danger {
  margin-bottom: 0;
  padding: 10px;
}
footer {
  padding: 0 150px;
}
footer p {
  border-top: 1px solid #444;
  padding-top: 10px;
}
.minHeight100 {
  min-height: 100px;
}
.zerg-back {
  background: url("http://img2.wikia.nocookie.net/__cb20121203112237/starcraft/images/a/a5/SarahKerrigan_HotS_Head3.jpg") fixed;
  background-size: 100% 100%;
}
.protoss-back {
  background: url("http://img3.wikia.nocookie.net/__cb20120806153919/greatmultiverse/images/5/58/Starcraft-2-protoss-carrier.jpg") fixed;
  background-size: 100% 100%;
}
.terran-back {
  background: url("http://img1.wikia.nocookie.net/__cb20100723233505/starcraft/images/3/30/Battlecruiser_SC2_CineBetterTomorrow1.jpg") fixed;
  background-size: 100% 100%;
}
#signUpForm {
  opacity: 0.8;
}
#overviewContainer > .alert > a.btn.pull-right {
  margin-left: 10px;
}
#overviewContainer > .alert > button.btn.pull-right {
  margin-left: 10px;
}
