<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BattleNetShop.Data.Pdf.PdfSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BattleNetShop.Data.PDF.PdfSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BattleNetShop.Data.Pdf.PdfSettings>
            <setting name="ReportsFolder" serializeAs="String">
                <value>../../../../Reports/PdfReports/</value>
            </setting>
        </BattleNetShop.Data.Pdf.PdfSettings>
        <BattleNetShop.Data.PDF.PdfSettings>
            <setting name="ReportsFolder" serializeAs="String">
                <value>../../../../Reports/PDFReports/</value>
            </setting>
        </BattleNetShop.Data.PDF.PdfSettings>
    </applicationSettings>
</configuration>